body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  padding: 20px;
}

.main-layout {
  display: flex;
  gap: 30px;
}

.menu-section {
  flex: 1;
}

.order-section {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
}

.food-card {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}